.banner {
  background-image: url('banner.jpg');
  background-size: cover;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.banner h2 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.livros-em-destaque {
  text-align: center;
  padding: 50px;
}

.livro {
  display: inline-block;
  margin: 20
}

.livro img {
width: 200px;
}
